// Couleurs variables
$primary-color: #74412b;
$secondary-color: #c4a4b4;
$background-color: #f4d9c1;
$text-color: white;

// Marges variables
$margin-xs: 5px;
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;
$margin-xl: 40px;
$margin-xxl: 60px;
$margin-auto: auto;

// Tailles d'écran (breakpoints) variables
$breakpoint-mobile: 425px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
