@import "../partials/variables";
@import "../partials/mixins";

// conteneurs des cartes Projets, page "Accueil"

// Section des projets
.projects-section {
  margin: 130px auto; // Espacement supérieur pour séparer de la section d'intro
  padding: 20px; // Espacement interne
  max-width: 1200px; // Largeur maximale
  position: relative;
}

.projects-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: $primary-color;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.9s ease;

  &:hover {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
}

.ProjectsList {
  padding: 50px;
  background-color: $secondary-color;
  border-radius: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 50px;
  justify-content: space-evenly;
  margin-bottom: $margin-xl;

  @include respond-to(tablet) {
    padding: 0;
    display: inline;
  }
}
