@import "../partials/variables";
@import "../partials/mixins";
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

// Mise en page générale

body {
  font-family: "Charm", cursive;
  background-color: $background-color;
  margin: 0;
  display: flex;
  flex-direction: column; // Organise les éléments verticalement
  min-height: 100vh; // S'assure que le body prend toute la hauteur de la fenêtre
}

/* Ajout d'un défilement fluide pour toute la page */
html {
  scroll-behavior: smooth;
}

.home,
.container,
.error {
  margin: 0 auto;
  flex: 1; // Laisse la section principale occuper l'espace restant
  display: flex;
  flex-direction: column;
  justify-content: center; // Centre le contenu verticalement

  @include respond-to(mobile) {
    min-height: 0px;
  }
}

.project-container,
.about-page,
.skills-page {
  width: 90%;
  margin: $margin-auto;
  margin-top: 60px;
  min-height: 600px;

  @include respond-to(tablet) {
    margin-top: 215px;
  }

  @include respond-to(mobile) {
    min-height: 0px;
    @include flex-container(column);
    margin-bottom: $margin-lg !important;
    padding: 0px;
    gap: 15px;
  }
}

.project-container {
  @include respond-to(mobile) {
    margin-top: 180px;
  }
}

// Curseur personnalisé
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $primary-color;
  border-radius: 50%; /* Cercle parfait */
  pointer-events: none; /* Permet les clics sur les éléments sous le curseur */
  z-index: 9999; /* Toujours au-dessus des autres éléments */
  transform: translate(-50%, -50%); /* Centrer sur la souris */
  transition: transform 0.1s ease, background-color 0.3s ease; /* Animations fluides */
  cursor: none;
}
