@import "../partials/variables";
@import "../partials/mixins";

// Page "projet"

.project-container {
  margin-bottom: $margin-xxl !important;
  @include flex-container(row, flex-start, stretch);
  gap: 20px;
}

.project-header {
  @include flex-container(row, space-between, flex-start);
  gap: 20px;
  flex-wrap: wrap;
  width: 40%;

  @include respond-to(tablet) {
    @include flex-container(column);
    width: 100%;
  }
}

.title-project {
  flex: 1;
}

.title-project {
  a {
    @include respond-to(mobile) {
      @include text-style(18px);
    }
  }
}

.titleProject {
  margin-top: 0px;
  margin-bottom: 20px;
  @include text-style(36px);
  color: $primary-color;
}

.placeProject {
  margin-top: $margin-xs;
  @include text-style;

  @include respond-to(mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

.tags {
  @include flex-container(row, flex-start, stretch);
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: $secondary-color;
  color: $text-color;
  padding: 4px 26px;
  border-radius: 10px;
  font-size: 15px;
  @include text-style(14px, 600);
  text-align: center;
  width: auto;
}

.project-details {
  @include flex-container(row, space-between);

  > div {
    flex: 1;
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  @include respond-to(mobile) {
    @include flex-container(column);
    gap: 20px;
  }
}

.collapse-container-no-margin {
  margin: 0px;
  margin-bottom: $margin-sm;
  border-radius: 5px;
  overflow: hidden;
}
