@import "./partials/variables.scss";
@import "./partials/mixins.scss";

@import "./pages/about.scss";
@import "./pages/accommodations.scss";
@import "./pages/error.scss";
@import "./pages/header.scss";
@import "./pages/banner.scss";
@import "./pages/card.scss";
@import "./pages/cards.scss";
@import "./pages/footer.scss";
@import "./pages/layout.scss";
@import "./pages/collapse.scss";
@import "./pages/slideshow.scss";
@import "./pages/intro.scss";
