.accommodation-container {
  margin-bottom: 60px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 425px) {
  .accommodation-container {
    margin-top: 0px;
    margin-bottom: 30px !important;
    padding: 0px;
    gap: 15px;
  }
}

.accommodation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  width: 40%;
}
@media (max-width: 767px) {
  .accommodation-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.title-location {
  flex: 1;
}

.titleAccommodation {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
  color: #74412b;
}
@media (max-width: 425px) {
  .titleAccommodation {
    font-size: 18px;
    line-height: 26px;
  }
}

.placeAccommodation {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 425px) {
  .placeAccommodation {
    font-size: 14px;
    line-height: 20px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: #c4a4b4;
  color: white;
  padding: 4px 26px;
  border-radius: 10px;
  font-size: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: auto;
}
@media (max-width: 425px) {
  .tag {
    border-radius: 5px;
    font-size: 10px;
    line-height: 18px;
    height: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.host-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 175px;
}
@media (max-width: 767px) {
  .host-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
}

.host-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 425px) {
  .host-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 33px;
  }
}

.host-name {
  color: #74412b;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}
@media (max-width: 425px) {
  .host-name {
    font-size: 12px;
  }
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 425px) {
  .host-picture {
    width: 32px;
    height: 32px;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
@media (max-width: 425px) {
  .rating {
    gap: 5px;
  }
}

.accommodation-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.accommodation-details > div {
  flex: 1;
  border-radius: 5px;
  max-width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .accommodation-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
  }
}

.collapse-container-no-margin {
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
