.projects-section {
  margin: 40px auto;
  padding: 20px;
  max-width: 1200px;
  position: relative;
}

.projects-title {
  position: absolute;
  margin-top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: 500;
  color: #c4a4b4;
  transition: transform 0.9s ease;
}
.projects-title:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.AccommodationList {
  margin-top: 180px;
  padding: 50px;
  background-color: #c4a4b4;
  border-radius: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 50px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .AccommodationList {
    padding: 0;
    display: inline;
  }
}
