.error {
  text-align: center;
}
.error img {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}
.error p {
  font-size: 36px;
  font-weight: 500;
  color: #74412b;
}
.error a {
  display: block;
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 425px) {
  .error img {
    width: 198px;
    margin: auto;
    margin-top: 100px;
  }
  .error p {
    font-size: 18px;
    line-height: 26px;
    height: 52px;
    width: 260px;
    margin: auto;
    margin-top: 100px;
  }
  .error a {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.error-nav {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 425px) {
  .error-nav {
    font-size: 14px;
    height: 20px;
    width: 221px;
  }
}
