.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  cursor: none;
}
.header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.header .navigation a {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  cursor: none;
  background-color: #c4a4b4;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 0 20px;
  text-decoration: none;
}
.header .navigation a:hover {
  background-color: #d8c3ce;
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.header .navigation a:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.header .navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.header .navigation li {
  color: #74412b;
  margin: 0 10px;
}
@media (max-width: 425px) {
  .header .navigation {
    flex-direction: column;
  }
  .header .navigation a {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }
}
