@charset "UTF-8";
body {
  font-family: montserrat;
  background-color: #f4d9c1;
  margin: 0;
}

.home,
.container,
.error,
.accommodation-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  min-height: 600px;
}
@media (max-width: 425px) {
  .home,
  .container,
  .error,
  .accommodation-container {
    min-height: 0px;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%; /* Cercle parfait */
  pointer-events: none; /* Permet les clics sur les éléments sous le curseur */
  z-index: 9999; /* Toujours au-dessus des autres éléments */
  transform: translate(-50%, -50%); /* Centrer sur la souris */
  transition: transform 0.1s ease, background-color 0.3s ease; /* Animations fluides */
  cursor: none;
}
