@charset "UTF-8";
body {
  font-family: cursive;
  background-color: #fdfaff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ajout d'un défilement fluide pour toute la page */
html {
  scroll-behavior: smooth;
}

.home,
.container,
.error {
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 425px) {
  .home,
  .container,
  .error {
    min-height: 0px;
  }
}

.project-container,
.about-page,
.skills-page {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  min-height: 600px;
}
@media (max-width: 425px) {
  .project-container,
  .about-page,
  .skills-page {
    min-height: 0px;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #74412b;
  border-radius: 50%; /* Cercle parfait */
  pointer-events: none; /* Permet les clics sur les éléments sous le curseur */
  z-index: 9999; /* Toujours au-dessus des autres éléments */
  transform: translate(-50%, -50%); /* Centrer sur la souris */
  transition: transform 0.1s ease, background-color 0.3s ease; /* Animations fluides */
  cursor: none;
}
