.project-container {
  margin-bottom: 60px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  width: 40%;
}
@media (max-width: 767px) {
  .project-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
}

.title-project {
  flex: 1;
}

@media (max-width: 425px) {
  .title-project a {
    font-size: 18px;
    font-weight: 500;
  }
}

.titleProject {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
  color: #74412b;
}

.placeProject {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 425px) {
  .placeProject {
    font-size: 14px;
    line-height: 20px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: #c4a4b4;
  color: white;
  padding: 4px 26px;
  border-radius: 10px;
  font-size: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.project-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.project-details > div {
  flex: 1;
  border-radius: 5px;
  max-width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
  }
}

.collapse-container-no-margin {
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
