@charset "UTF-8";
.about-page {
  padding-left: 0px;
  margin-top: 110px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-top: 12rem;
  margin-bottom: 11.5rem;
}
@media (max-width: 425px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.about-photo {
  flex: 1;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.about-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-text {
  flex: 2;
}
.about-text h2 {
  font-size: 3rem;
  color: #74412b;
}
.about-text p {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #c4a4b4;
}

.skills-page {
  padding-left: 0px;
  margin-top: 110px;
}

.skill-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-top: 12rem;
  margin-bottom: 11.5rem;
}
@media (max-width: 425px) {
  .skill-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.skill-photo {
  flex: 1;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.skill-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.skill-text {
  flex: 2;
}
.skill-text h2 {
  font-size: 3rem;
  color: #74412b;
}
.skill-text p {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #c4a4b4;
}

.project-container {
  margin-bottom: 60px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 425px) {
  .project-container {
    margin-top: 0px;
    margin-bottom: 30px !important;
    padding: 0px;
    gap: 15px;
  }
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  width: 40%;
}
@media (max-width: 767px) {
  .project-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.title-project {
  flex: 1;
}

.titleProject {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
  color: #74412b;
}
@media (max-width: 425px) {
  .titleProject {
    font-size: 18px;
    line-height: 26px;
  }
}

.placeProject {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 425px) {
  .placeProject {
    font-size: 14px;
    line-height: 20px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: #c4a4b4;
  color: white;
  padding: 4px 26px;
  border-radius: 10px;
  font-size: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: auto;
}
@media (max-width: 425px) {
  .tag {
    border-radius: 5px;
    font-size: 10px;
    line-height: 18px;
    height: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.host-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 175px;
}
@media (max-width: 767px) {
  .host-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
}

.host-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 425px) {
  .host-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 33px;
  }
}

.host-name {
  color: #74412b;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}
@media (max-width: 425px) {
  .host-name {
    font-size: 12px;
  }
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 425px) {
  .host-picture {
    width: 32px;
    height: 32px;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
@media (max-width: 425px) {
  .rating {
    gap: 5px;
  }
}

.project-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.project-details > div {
  flex: 1;
  border-radius: 5px;
  max-width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
  }
}

.collapse-container-no-margin {
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.error {
  text-align: center;
}
.error img {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}
.error p {
  font-size: 36px;
  font-weight: 500;
  color: #74412b;
}
.error a {
  display: block;
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 425px) {
  .error img {
    width: 198px;
    margin: auto;
    margin-top: 100px;
  }
  .error p {
    font-size: 18px;
    line-height: 26px;
    height: 52px;
    width: 260px;
    margin: auto;
    margin-top: 100px;
  }
  .error a {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.error-nav {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 425px) {
  .error-nav {
    font-size: 14px;
    height: 20px;
    width: 221px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  cursor: none;
}
.header .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.header .navigation a {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  cursor: none;
  background-color: #c4a4b4;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 0 20px;
  text-decoration: none;
}
.header .navigation a:hover {
  background-color: #d8c3ce;
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.header .navigation a:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.header .navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.header .navigation li {
  color: #74412b;
  margin: 0 10px;
}
@media (max-width: 750px) {
  .header {
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .header .navigation a {
    margin: 5px 0;
    text-align: center;
  }
  .header .navigation ul {
    padding-left: 0px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}
@media (max-width: 425px) {
  .header {
    margin-top: 140px;
    margin-bottom: 40px;
  }
  .header .navigation a {
    margin: 5px 0;
    text-align: center;
  }
  .header .navigation ul {
    padding-left: 0px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.banner {
  position: relative;
  height: 223px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.banner img {
  border-radius: 20px;
  width: 100%;
  height: 223px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: stretch;
  object-fit: cover;
  filter: brightness(50%);
}
.banner p {
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  line-height: 223px;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  z-index: 1000;
  margin: 0;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .banner p {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .banner {
    margin: 0;
    margin-bottom: 20px;
    height: 170px;
  }
  .banner img {
    height: 170px;
  }
  .banner p {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 35px;
    width: auto;
    height: 110px;
    white-space: wrap;
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 543px) {
  .banner p {
    margin-top: 55px;
    text-align: left;
  }
}
@media (max-width: 425px) {
  .banner {
    margin-bottom: 20px;
    margin-top: 0;
    height: 111px;
  }
  .banner img {
    height: 111px;
  }
  .banner p {
    margin-top: 30px;
    margin-left: 20px;
    width: 225px;
    line-height: 24px;
    font-size: 24px;
    height: 48px;
  }
}

.card {
  width: 100%;
  position: relative;
}
.card .cardImg {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
}
.card .descriptionOverlay {
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 100%;
  color: white;
  background-color: rgba(116, 89, 61, 0);
  font-size: 30px;
  font-weight: 700;
  z-index: 1000;
  margin: 0;
  white-space: pre-wrap;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  opacity: 0;
  border-radius: 10px;
  margin-block-end: 0em;
  cursor: none;
}
.card .descriptionOverlay:hover {
  background-color: rgba(116, 89, 61, 0.6);
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}
.card .cardTitle {
  display: block;
  position: absolute;
  bottom: 2%;
  padding: 10px 0;
  left: 5%;
  right: 10%;
  height: auto;
  width: 80%;
  line-height: 1.2;
  font-size: 1.5em;
  color: white;
  font-weight: 700;
  z-index: 1000;
  margin: 0;
}
@media (max-width: 1024px) {
  .card .cardTitle {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .card .cardImg {
    aspect-ratio: 16/9;
    margin-bottom: 20px;
  }
  .card .cardTitle {
    font-size: 18px;
    padding-bottom: 30px;
  }
  .card .descriptionOverlay {
    height: 92%;
  }
}
@media (max-width: 425px) {
  .card {
    height: 255px;
    margin-bottom: 20px;
  }
  .card .cardImg {
    height: 255px;
  }
  .card .cardTitle {
    top: auto;
    padding-bottom: 2%;
  }
  .card .descriptionOverlay {
    height: 255px;
  }
}

.projects-section {
  margin: 130px auto;
  padding: 20px;
  max-width: 1200px;
  position: relative;
}

.projects-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: #74412b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.9s ease;
}
.projects-title:hover {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.ProjectsList {
  padding: 50px;
  background-color: #c4a4b4;
  border-radius: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 50px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .ProjectsList {
    padding: 0;
    display: inline;
  }
}

.footer {
  width: 100%;
  height: 150px;
  background: linear-gradient(135deg, #74412b, #c4a4b4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}
.footer .footer-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.footer .footer-content .footer-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.footer .footer-content .footer-icons a {
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
.footer .footer-content .footer-icons a:hover {
  color: #c4a4b4;
  transform: scale(1.2);
}

body {
  font-family: cursive;
  background-color: #fdfaff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ajout d'un défilement fluide pour toute la page */
html {
  scroll-behavior: smooth;
}

.home,
.container,
.error {
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 425px) {
  .home,
  .container,
  .error {
    min-height: 0px;
  }
}

.project-container,
.about-page,
.skills-page {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  min-height: 600px;
}
@media (max-width: 425px) {
  .project-container,
  .about-page,
  .skills-page {
    min-height: 0px;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #74412b;
  border-radius: 50%; /* Cercle parfait */
  pointer-events: none; /* Permet les clics sur les éléments sous le curseur */
  z-index: 9999; /* Toujours au-dessus des autres éléments */
  transform: translate(-50%, -50%); /* Centrer sur la souris */
  transition: transform 0.1s ease, background-color 0.3s ease; /* Animations fluides */
  cursor: none;
}

.collapse {
  margin-top: auto;
}

.collapse-container {
  gap: 20px;
  margin: 20px 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .collapse-container {
    margin: 20px 0;
  }
}

.collapse-header {
  font-size: 35px;
  background-color: #c4a4b4;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.collapse-header h2 {
  color: white;
  margin: 0;
  font-size: 22px;
}
@media (max-width: 425px) {
  .collapse-header h2 {
    font-size: 13px;
  }
}

.chevron-icon {
  color: white;
  padding-right: 5px;
  transition: transform 0.3s ease;
}
.chevron-icon.rotated {
  transform: rotate(-180deg);
}

.collapse-toggle {
  background: none;
  border: none;
}

.collapse-content {
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #f4e5eb;
}
.collapse-content ul {
  padding-left: 0;
  list-style: none;
  line-height: 1.6;
}
@media (max-width: 425px) {
  .collapse-content ul {
    margin: 0;
    font-size: 12px;
  }
}
.collapse-content p {
  color: #74412b;
  line-height: 1.6;
}
@media (max-width: 425px) {
  .collapse-content p {
    margin: 0;
    font-size: 12px;
  }
}

.slideshow {
  position: relative;
  height: 415px;
  width: 60%;
}
.slideshow .slideshow-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.slideshow .prev,
.slideshow .next {
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: rgba(196, 164, 180, 0.7);
  position: absolute;
  top: 90%;
  border: none;
  cursor: none;
  z-index: 1;
  border-radius: 50%; /* Cercle parfait */
  width: 30px;
  height: 30px;
}
.slideshow .prev.prev,
.slideshow .next.prev {
  left: 10px;
}
.slideshow .prev.next,
.slideshow .next.next {
  right: 10px;
}
.slideshow .prev img,
.slideshow .next img {
  width: 10px;
  height: 20px;
  object-fit: cover;
}
@media (max-width: 425px) {
  .slideshow .prev img,
  .slideshow .next img {
    width: 12px;
    height: 20px;
    object-fit: cover;
  }
}
.slideshow .slideshow-counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #c4a4b4;
  font-weight: 500;
  padding: 5px 10px;
}
@media (max-width: 425px) {
  .slideshow {
    height: 255px;
  }
  .slideshow .prev,
  .slideshow .next {
    top: 115px;
    width: 24px;
    height: 24px;
  }
  .slideshow img {
    width: 12px;
    height: 20px;
  }
  .slideshow .slideshow-counter {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent sombre */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal:hover {
  cursor: none; /* Effet de fermeture en cliquant sur le fond */
}
.modal .modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden; /* Évite le dépassement du contenu */
}
.modal .modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  cursor: none; /* Permet de fermer l'image en cliquant dessus */
}

.home .intro-section {
  top: 51px;
  height: 50vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #74412b, #c4a4b4);
  color: white;
  position: relative;
  overflow: hidden;
}
.home .intro-section .bubble {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  animation: float 10s infinite ease-in-out;
  mix-blend-mode: overlay;
}
.home .intro-section .bubble:nth-child(1) {
  width: 60px;
  height: 60px;
  top: 20%;
  left: 15%;
  animation-duration: 12s;
  animation-delay: 1s;
}
.home .intro-section .bubble:nth-child(2) {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 30%;
  animation-duration: 14s;
  animation-delay: 2s;
}
.home .intro-section .bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  top: 30%;
  right: 20%;
  animation-duration: 10s;
  animation-delay: 0s;
}
.home .intro-section .bubble:nth-child(4) {
  width: 100px;
  height: 100px;
  bottom: 10%;
  right: 15%;
  animation-duration: 18s;
  animation-delay: 3s;
}
.home .intro-section .bubble:nth-child(5) {
  width: 70px;
  height: 70px;
  bottom: 20%;
  left: 5%;
  animation-duration: 16s;
  animation-delay: 4s;
}
.home .intro-section .intro-content {
  max-width: 800px;
  padding: 20px;
}
.home .intro-section .intro-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}
.home .intro-section .intro-content h1 span {
  color: white;
}
.home .intro-section .intro-content .developer-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #c4a4b4;
  margin: 10px 0 20px;
  animation: fade-in 2s ease-in-out;
}
.home .intro-section .intro-content p {
  font-size: 30px;
  margin-top: 10px;
  line-height: 1.6;
}
@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.8;
  }
  25% {
    transform: translate(-20px, -30px) scale(1.1);
  }
  50% {
    transform: translate(20px, -10px) scale(1.2);
    opacity: 0.6;
  }
  75% {
    transform: translate(-10px, 30px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.8;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-section {
  padding: 50px 20px;
  background-color: #f9e5e5;
  text-align: center;
}
.contact-section h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #74412b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.9s ease;
}
.contact-section h2:hover {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.contact-section .contact-form {
  max-width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-left: 20px;
  border-radius: 8px;
  background: linear-gradient(135deg, #74412b, #c4a4b4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.contact-section .contact-form .form-group {
  margin-bottom: 20px;
}
.contact-section .contact-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}
.contact-section .contact-form .form-group input,
.contact-section .contact-form .form-group textarea {
  width: 100%;
  border: 1px solid #c4a4b4;
  border-radius: 4px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #74412b;
}
.contact-section .contact-form .form-group input:focus,
.contact-section .contact-form .form-group textarea:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
.contact-section .contact-form .form-group textarea {
  height: 150px;
  resize: vertical;
}
.contact-section .contact-form .error {
  color: white;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: left;
}
.contact-section .contact-form button {
  padding: 10px 20px;
  background-color: white;
  color: #74412b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.contact-section .contact-form button:hover {
  background-color: #c4a4b4;
  color: white;
}
